.achievers-container {
    // filter: grayscale(100%);

    & img {
        width: 140px;
        filter: grayscale(100%);

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            filter: grayscale(0%);
        }
    }

    &:hover {
        filter: grayscale(0%);
    }
}